{% extends 'base.html' %}

{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-md-4">
            <!-- car datos del usuario, personal o profesional-->
             <div class="card border rounded-2 shadow p-3 mb-3">
                <div class="card-body">
                    <!--card body...-->
                    <img class="img-thumbnail rounded-circle mb-3" src=" {{ user.profile.image.url }} " alt="{{ user.username }}" style="width: 100px;">
                    <h2>{{ user.first_name }} {{ user.last_name }} </h2>
                    <h5> {{ group_name }} </h5>
                    <hr>
                    <p><strong>Nombre de Usuario:</strong> {{ user.username }} </p>
                    <p><strong>Domicilio: </strong> {{ user.profile.address }} </p>
                    <p><strong>Teléfono: </strong> {{ user.profile.telephone }} </p>
                    <hr>
                    <a class="btn btn-outline-secondary" href="">Editar Perfil</a>
                    <a class="btn btn-danger" href="">Cerrar Sesión</a>
                </div>
             </div>
        </div>
        <div class="col-md-8">
            <!-- card datos de vehiculos-->
             <div class="card border rounded-2 shadow p-3 mb-3">
                <div class="card-body">
                    <h3>Tus vehículos registrados</h3>
                    <!-- evaluar el grupo al que pertenece el usuario-->
                    {% if group_name == 'Particulares' %}
                        <!-- {% include 'profile/particular.html' %} -->
                        <div><hr>
                            <h3>a ver2</h3>
                            <div class="container my-4">
                                <ul class="list-group">
                                    {% for car in object_list.all %}
                                    <li class="list-group-item"> <b>Marca: </b>{{ car.brand }} <b>Patente: </b> {{ car.plate }} {{ car.year }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% elif group_name == 'Mecanicos' %}
                        {% include 'profile/profesional.html' %}
                    {% endif %}
                </div>
             </div>

        </div>
    </div>
</div>
{% endblock %}