{% extends 'base.html' %}

{% block content %}
<hr>
<div class="container my-3">
    <div class="row">
        <div class="col-md-4">
            <!-- car datos del usuario, personal o profesional-->
             <div class="card border rounded-2 shadow p-3 mb-3">
                <div class="card-body">
                    <!--card body...-->
                    <img class="img-thumbnail rounded-circle mb-3" src=" {{ user.profile.image.url }} " alt="{{ user.username }}" style="width: 100px;">
                    <h3> {{ user.first_name }} {{ user.last_name }} </h3>
                    <h5> {{ group_name }} </h5>
                    <hr>
                    <p><strong>Nombre del Usuario:</strong> {{ user.username }} </p>
                    <p><strong>Correo Electrónico: </strong> {{ user.profile.email }} </p>
                    <p><strong>Teléfono: </strong> {{ user.profile.telephone }} </p>
                    <p><strong>Domicilio: </strong> {{ user.profile.address }} </p>
                    <p><strong>Ciudad: </strong> {{ user.profile.location }} </p>
                    <hr>
                        <div class="d-flex justify-content-center my-3">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-secondary mx-2" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                              Editar Perfil
                            </button>
                            <a class="btn btn-danger mx-2" href="">Agregar Vehículo</a>
                        </div>
                </div>
             </div>
        </div>
        <div class="col-md-8">
             <div class="card border rounded-2 shadow p-3 mb-3">
                <div class="card-body">
                    <h3>Tus vehículos registrados:</h3>
                    <br>
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Patente</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Año</th>
                                <th scope="col">Kilometros</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for car in object_list.all %}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td> {{ car.plate }} </td>
                                        <td> {{ car.brand }} </td>
                                        <td> {{ car.year }} </td>
                                        <td> {{ car.mileage }} </td>
                                        <td scope="col">
                                            <div class="col-xl-4 themed-grid-col">
                                                <a href="#" class="badge text-bg-success text-decoration-none">
                                                    + Detalles
                                                </a>
                                            </div>
                                        </td>
                                        <td scope="col">
                                            <div class="col-xl-4 themed-grid-col">
                                                <a href="#" class="badge text-bg-danger text-decoration-none">
                                                    Eliminar
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
             </div>
        </div>
    </div>
</div>

<hr>

<!-- Vertically centered modal -->
<div class="modal-dialog modal-dialog-centered modal fade" id="editProfileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editProfileModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}