{% extends 'base.html' %}

    {% block content %}

    {% load crispy_forms_tags %}

    <div class="container my-4">
        <h2 class="text-center">Agregar Vehiculos</h2><br>
        <h4 class="text-center">Ingrese la información del nuevo vehículo</h4>
            <p><i>El campo de Matrícula/patente es obligatorio. Podrá elegir el mecánico de su preferencia al final si lo desea. Haga click en este link para invitar a su mecánico de confianza a registrarse</i>
            </p>
            <hr>

        <div class="container">
            <div class="row">
                <div class="col-md-3 offset-md-4">
                    <!-- vehicle_form.html  -->
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-danger mx-2" type="submit">Guardar</button>
                    </form>
                </div>
            </div>
        </div>

<hr>

        <br><br><br><br>
        <hr>
        <ul>
            {% for car in object_list.all %}
            <li>{{ car.brand }} {{ car.plate }} {{ car.year }}</li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    <div class="row mb-3 text-center">
        <div class="col-xl-4 themed-grid-col"> <b>Usuario</b>: {{ user.username }}</div>
        <div class="col-xl-4 themed-grid-col"></div>
        <div class="col-xl-4 themed-grid-col"></div>
    </div>
    <hr>

<div class="container my-4">
    <ul class="list-group">
        {% for car in object_list.all %}
        <li class="list-group-item"> <b>Marca: </b>{{ car.brand }} <b>Patente: </b> {{ car.plate }} {{ car.year }}</li>
        {% endfor %}
    </ul>
</div>


    {% endblock %}