{% extends 'base.html' %}

    {% block content %}
    <div class="container my-4">
        <h1 class="text-center">Mis Autos</h1>
        <ul>
            {% for car in object_list.all %}
            <li>{{ car.brand }} {{ car.plate }} {{ car.year }}</li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    <div class="row mb-3 text-center">
        <div class="col-xl-4 themed-grid-col"> <b>Usuario</b>: {{ user.username }}</div>
        <div class="col-xl-4 themed-grid-col"></div>
        <div class="col-xl-4 themed-grid-col"></div>
    </div>
    <hr>

<div class="container my-4">
    <ul class="list-group">
        {% for car in object_list.all %}
        <li class="list-group-item"> <b>Marca: </b>{{ car.brand }} <b>Patente: </b> {{ car.plate }} {{ car.year }}</li>
        {% endfor %}
    </ul>
</div>


    {% endblock %}