{% extends 'base.html' %}

    {% block content %}

    <!-- todo empieza aqui! -->
    <div class="container my-4">
        <h5 class="display-6 fw-normal text-body-emphasis text-center">Hola!</h5>
    </div>
<hr>
<p>Estamos desarrollando una sencilla aplicación para ayudar a las personas a llevar el control de los arreglos que hacen en sus automóviles.</p>
<p>Por su parte, los mecánicos profesionales podrán llevar un registro de todos los arreglos de los autos de sus clientes, usando de manera gratuita esta herramienta.</p>
<strong>Como seguimos?</strong><br>
<p>Te invito a Registrarte o a ingresar a tu cuenta</p>
<p>Definitivamente, estamos trabajando en una página de inicio mas linda...</p>

    <!-- todo termina aqui! -->
    {% endblock %}