{% extends 'base.html' %}

    {% block content %}

    <!-- todo empieza aqui! -->
    <div class="container my-4">
        <h5 class="display-6 fw-normal text-body-emphasis text-center">Hola!</h5>
    </div>
<hr>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
    <!-- todo termina aqui! -->
    {% endblock %}