{% extends 'base.html' %}

    {% block content %}
    <div class="container my-4">
        <h5 class="display-6 fw-normal text-body-emphasis text-center">Hola!</h5>
    </div>
<hr>
    <div class="row mb-3 text-center">
        <div class="col-xl-4 themed-grid-col"> <b>Bienvenido!</b>: {{ user.username }}</div>
        <div class="col-xl-4 themed-grid-col"></div>
        <div class="col-xl-4 themed-grid-col"></div>
    </div>
<hr>
<ul class="list-group">
    <li class="list-group-item"> {{ user.username }} - {{ user.email }}</li>
    <li class="list-group-item"> {{ user.email }} </li>
    <li class="list-group-item"> {{ user.username }} </li>
    <li class="list-group-item"> Patente:  {{ car.plate }} </li>
    <li class="list-group-item">
      ferozo
</li>
</ul>
<hr>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<hr>
<p>atento!</p>
<hr>

<div class="container my-4">
<h4>nada por acá</h4><br><br>
</div>

    {% endblock %}