{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}



        <div class="container">
    		<h2>Agregar Servicio</h2>
    		<p>Agregue información sobre el servicio realizado al vehículo</p>
            <div class="row">
                <div class="col-md-3 offset-md-4">
                    <form method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <!-- boton de cancelar por si me arrepiento de agregar el servicio o entro x error -->
                        <a href="{% url 'profile' %}" class="btn btn-secondary">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>                    
                </div>
            </div>
        </div>

{% endblock %}