{% extends 'base.html' %}

    {% block content %}
    <div class="container my-4">
        <h1 class="text-center">Lista de servicios realizados al vehículo</h1><br>

        <!--         
        <dl>
            <dt>Marca</dt>
            <dd>{{ vehicle.brand }}</dd>
            <dt>Patente</dt>
            <dd>{{ vehicle.plate }}</dd>
            <dt>Año</dt>
            <dd>{{ vehicle.year }}</dd>
        </dl>
        <hr>
        <ul>
            {% for service_for in vehicle.service_set.all %}
            <li>{{ service_for.date }} | {{ service_for.kilometers }}</li>
            <li>{{ service_for.cost }} | {{ service_for.coments }}</li>
            {% empty %}
            <li>No hay servicios registrados</li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_service' vehicle.id %}" class="badge text-bg-primary text-decoration-none">
            + Servicio
        </a>
    </div>
        -->
    <div class="container">
        <h5>Servicios correspondientes a:<strong> {{ vehicle.plate }} </strong></h5>
    </div>

    {% for service in vehicle.service_set.all %}
    <table class="table">
        <thead>
            <tr>
                <th>Patente</th>
                <th>Fecha Servicio</th>
                <th>Kilometraje</th>
                <th>Costo del Servicio</th>
                <th>Tipo de Servicio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ vehicle.plate }}</td>
                <td>{{ service.date }}</td>
                <td>{{ service.kilometers }}</td>
                <td>{{ service.cost }}</td>
                <td>{{ service.service_type }}</td>
            </tr>
            <tr>
                <td colspan="5">{{ service.coments }}</td>
            </tr>
        </tbody>
    </table>
    {% empty %}
    <p>No hay servicios registrados</p>
    {% endfor %}
    <hr>
    <a href="{% url 'add_service' vehicle.id %}" class="badge text-bg-primary text-decoration-none">
        + Servicio
    </a>
    <!-- <hr style="border: none; height: 5px; background-color: fuchsia; margin: 20px 0;"> -->
    {% endblock %}
